<html>
<head>
  {% if is_mobile %}
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
  {% end %}
  <link rel="shortcut icon" href="/static/favicon.ico" />
  {% block css %}
    <link rel="stylesheet" href="/static/css/base.css" />
  {% end %}
</head>
<body>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/lottery/double-color-ball/">Double Color Ball</a></li>
  </ul>
  {% block content %}{% end %}
  <script>
    // Facebook SDK.
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '936359286424248',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  {% block javascript %}{% end %}
</body>
</html>
