<html>
<head>
  {% if is_mobile %}
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
  {% end %}
  <link rel="shortcut icon" href="/static/favicon.ico" />
  {% block css %}
    <link rel="stylesheet" href="/static/css/base.css" />
  {% end %}
</head>
<body>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/lottery/double-color-ball/">Double Color Ball</a></li>
  </ul>
  {% block content %}{% end %}
  {% block javascript %}{% end %}
</body>
</html>
